.rekapi-scrubber-wrapper {
  /* overflow: auto here makes the scrubber partially disappear.*/
  padding-bottom: 18px;
}

  .rekapi-scrubber {
    float: left;
  }

    .rekapi-scrubber-button {
      background: #ccc;
      display: block;
      float: left;
    }

    .rekapi-scrubber-play,
    .rekapi-scrubber-pause {
      margin-right: 6px;
    }

    .rekapi-scrubber-stop {
      margin-left: 6px;
    }

    .rekapi-scrubber-timeline {
      float: left;
      margin: 0px 12px;
    }

    .rekapi-scrubber-timeline .ui-slider-handle {
      outline: none;
    }

.rt-wrapper {
  background: #eee;
  border-top: solid 1px #222;
  font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif;
  height: 140px; /* Initial style, gets overridden with JavaScript. */
  left: 0;
  position: fixed;
  width: 100%;
  bottom: 0px;
}

  .rt-control-bar {
    background: #ddd;
    border-bottom: solid 1px #222;
    height: 40px;
  }

  .rt-actor {
    border-bottom: 1px solid #222;
    list-style: none;
    overflow: hidden;
  }

  .rt-actor-header,
  .rt-actor-timeline {
    font-weight: bold;
    float: left;
    height: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
  }

  .rt-actor-header {
    width: 140px;
  }

    .rt-actor-header .rt-actor-id {
      font-size: 14px;
      margin: 0;
      padding: 10px;
    }

.rt-actors {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.rt-wrapper .splitter {
  border-left: solid 1px #222;
  left: 140px;
}

.rt-wrapper .rt-tickmarks {
  position: absolute;
  right: 0;
  /* There's gotta be a better way to position this that hardcoding a static
   * top. */
  top: 22px;
}
