.rekapi-scrubber-wrapper {
  /* overflow: auto here makes the scrubber partially disappear.*/
  padding-bottom: 18px;
}

  .rekapi-scrubber {
    float: left;
  }

    .rekapi-scrubber-button {
      background: #ccc;
      display: block;
      float: left;
    }

    .rekapi-scrubber-play,
    .rekapi-scrubber-pause {
      margin-right: 6px;
    }

    .rekapi-scrubber-stop {
      margin-left: 6px;
    }

    .rekapi-scrubber-timeline {
      float: left;
      margin: 0px 12px;
    }

    .rekapi-scrubber-timeline .ui-slider-handle {
      outline: none;
    }

.rt-wrapper {
  background: #eee;
  border-top: solid 1px #222;
  font-family: 'Lucida Sans Unicode','Lucida Grande',sans-serif;
  height: 140px; /* Initial style, gets overridden with JavaScript. */
  left: 0;
  position: fixed;
  width: 100%;
  bottom: 0px;
}

  .rt-control-bar {
    background: #ddd;
    border-bottom: solid 1px #222;
    height: 40px;
  }

  .rt-actor {
    border-bottom: 1px solid #222;
    list-style: none;
    overflow: hidden;
  }

  .rt-actor-header,
  .rt-actor-timeline {
    font-weight: bold;
    float: left;
    height: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
  }

  .rt-actor-header {
    border-right: solid 1px #222;
    font-size: 14px;
    min-width: 140px;
    padding: 10px;
  }

.rt-actors {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
