.rekapi-timeline-wrapper {
  background: #eee;
  border-top: solid 1px #222;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

  .rekapi-timeline-control-bar {
    background: #ddd;
    border-bottom: solid 1px #222;
    height: 40px;
  }

  .rekapi-timeline-actor-headers,
  .rekapi-timeline-actor-timeline {
    float: left;
    padding: 0px;
    margin: 0px;
  }

  .rekapi-timeline-actor-headers {
    border-right: solid 1px #222;
    min-height: 100px;
    width: 140px;
  }

  .rekapi-timeline-actor-timeline {

  }
